:root {
    --main-text-color: #CCC;
    --main-background-color: #222;
    --accent-color: #00AAFF;
}

@font-face {
    font-family: RobotoFlex;
    src: url("/fonts/RobotoFlex-Regular.ttf")
}

@font-face {
    font-family: RobotoMono;
    src: url("/fonts/RobotoMono-Regular.ttf")
}

html {
    color: var(--main-text-color);
    background: #181818;
    font-family: RobotoFlex;
}

body {
    padding: 5rem 0;
}

pre {
    font-family: RobotoMono;
}

a {
    color: #00AAFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 1rem;
    border: 1px var(--accent-color) dashed;
}