:root {
    --main-text-color: #CCC;
    --main-background-color: #222;
    --secondary-background-color: #111;
    --accent-color: #00AAFF;
    --loading-color-1: #000000AA;
    --loading-color-2: var(--accent-color);
}

@media print {
    :root {
        --accent-color: #AAAAAA;
    }
}

@font-face {
    font-family: RobotoFlex;
    src: url("/fonts/RobotoFlex-Regular.ttf")
}

@font-face {
    font-family: RobotoMono;
    src: url("/fonts/RobotoMono-Regular.ttf")
}

html {
    font-family: RobotoFlex;
    user-select: none;
    letter-spacing: 0.05rem;
}

@media screen {
    body {
        color: var(--main-text-color);
        background-image: repeating-linear-gradient(135deg, #181818, #181818 6px, #202020 6px, #202020 12px);
        padding: 5rem 0;
    }
}

pre {
    padding: 1rem;
    background: var(--secondary-background-color);
    font-family: RobotoMono;
    box-shadow: 0rem 0rem 0.25rem 0 var(--accent-color);
    user-select: text;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin: -5px;
}

a:hover {
    color: var(--main-background-color);
    background: var(--accent-color);
    border: 0px var(--accent-color) solid;
    border-radius: 0px;
}

hr {
    height: 1px;
    margin: 1rem 0;
    border: none;
    background: var(--accent-color);
}

p {
    margin-bottom: 1rem;
}

ul > li {
    list-style: square outside;
}

ol > li {
    list-style: decimal-leading-zero outside;
}

li > ul, li > ol {
    padding-left: 1.25rem;
}

input {
    color: var(--main-text-color);
    border: none;
    border-bottom: 1px var(--main-text-color) solid;
    background: none;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1px var(--accent-color) solid;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    background: pink;
}
