:root {
    --main-text-color: #CCC;
    --main-background-color: #222;
    --secondary-background-color: #111;
    --accent-color: #00AAFF;
    --loading-color-1: #000000AA;
    --loading-color-2: var(--accent-color);
    --dialog-color-1: #000000AA;
    --dialog-color-2: #11111155;
    --box-shadow-primary: 0rem 0rem 0.25rem 0 var(--accent-color);
    --box-shadow-secondary: 0rem 0rem 0.25rem 0 var(--main-text-color);
    --app-size: 45rem;
}

@media print {
    :root {
        --accent-color: #AAAAAA;
    }

    nav {
        display: none !important;
    }
}

@font-face {
    font-family: RobotoFlex;
    src: url("/fonts/RobotoFlex-Regular.ttf")
}

@font-face {
    font-family: RobotoMono;
    src: url("/fonts/RobotoMono-Regular.ttf")
}

html {
    font-family: RobotoFlex;
    user-select: none;
    letter-spacing: 0.01rem;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

@media screen {
    body {
        color: var(--main-text-color);
        background-image: repeating-linear-gradient(135deg, #181818, #181818 6px, #202020 6px, #202020 12px);
        padding: 4rem 0;
    }
}

pre {
    padding: 1rem;
    background: var(--secondary-background-color);
    font-family: RobotoMono;
    box-shadow: var(--box-shadow-primary);
    user-select: text;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin: -5px;
    cursor: pointer;
}

a:disabled {
    color: var(--main-text-color);
    cursor: not-allowed;
}

a:hover {
    color: var(--main-background-color);
    background: var(--accent-color);
    border: 0px var(--accent-color) solid;
}

hr {
    height: 1px;
    margin: 1rem 0;
    border: none;
    background: var(--accent-color);
}

input {
    padding: 0.25rem;
    color: var(--main-text-color);
    border: 0.1rem var(--main-text-color) solid;
    background: var(--main-background-color);
}

input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-row, .form-buttons {
    display: block;
    padding: 1rem 0;
}

.form-row label {
    display: block;
}

.form-row input {
    width: 100%;
}

.form-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.form-buttons > button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    margin-left: 1rem;
    color: var(--accent-color);
    font-weight: bold;
    background: none;
    border: none;
}

.form-buttons > button:hover {
    color: var(--main-background-color);
    background: var(--accent-color);
    border: 0px var(--accent-color) solid;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    background: pink;
}
